nav {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

nav a:hover {
    text-decoration: underline;
}

/* Estilo general del body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Títulos principales */
h1 {
    text-align: center;
    margin-top: 50px;
    color: #333;
}

/* Párrafos */
p {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}
#ayuda {
    margin: 60px;
    color: #f5e6f4;
    background-color: #b112a9;
    padding: 10px;
    border-radius: 10px; 
    padding-left: 10px;
}#uploadContainer {
    display: flex;
    justify-content: space-between;
    margin: 40px;
    color: #f5e6f4;
    background-color: #b19ab0;
    padding: 10px;
    border-radius: 10px; 
    padding-left: 10px;
}

#fileInput {
    margin: 10px;
    color: #f5e6f4;
    background-color: #c760c244;
    padding: 10px;
    border-radius: 10px; 
    padding-left: 10px; 
}

#analyzeButton {
    background-color: #dbdbdb7a;
    border-radius: 20%;
    margin: 10px;
    padding: 10px;
}

.textareas-container {
    display: flex; /* Usar flexbox para alinear los textarea */
    justify-content: space-between; /* Espacio entre los textarea */
    width: 100%; /* Asegúrate de que el contenedor ocupe el ancho completo */
}

#fileContent, #resumenContent {
    width: 48%; /* Ajusta el ancho para que quepan uno al lado del otro */
    height: 300px; /* Altura fija */
    margin: 0 10px; /* Espacio entre los textarea */
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); /* Sombra */
}

#resultContainer {
    width: 90%; /* Ajusta el ancho del contenedor de resultados */
    margin-left: auto; /* Centrar el contenedor */
    margin-right: auto; /* Centrar el contenedor */
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); /* Sombra */
}
#resultadoResumen{
    width: 90%; /* Ajusta el ancho del contenedor de resultados */
    margin-left: 40px; /* Centrar el contenedor */
    margin-right: auto; /* Centrar el contenedor */
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); /* Sombra */
}
#pet_fecha{
    
    justify-content: space-between;
    margin: 40px;
    color: #f5e6f4;
    background-color: #b19ab0;
    padding: 10px;
    border-radius: 10px; 
    padding-left: 10px;
}
