<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayuda</title>
    {% load static %}  <!-- Cargar archivos estáticos -->
    <link rel="stylesheet" href="{% static 'style.css' %}">  <!-- Enlazar CSS -->
</head>
<body>
    {% include 'navbar.html' %}
    <h1 id="ayuda">Natalia Garrido</h1>
    <p>Carnet 202201385</p>
    <p>
        <a href="https://docs.google.com/document/d/1OCPtedggutykB35ETUTwz2JNfeVPpmlcOwJIe9OIDlQ/edit?usp=sharing" target="_blank">
            Enlace al ensayo de documentación
        </a>
    </p>
</body>
</html>