<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargar Archivo</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% include 'navbar.html' %}

    <div id="uploadContainer">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="fileInput">Selecciona un archivo XML:</label>
            <input type="file" id="fileInput" name="archivo" accept=".xml" required>
            <button type="submit" id="analyzeButton">Analizar</button>
        </form>
    </div>

    <div id="resultContainer">
        <p>{{ mensaje }}</p>
        
        {% if contenido_archivo or contenido_resumen %}
            <h3>Contenido del Archivo:</h3>
            <div class="textareas-container">
                {% if contenido_archivo %}
                    <textarea id="fileContent" placeholder="Aquí se mostrará el contenido del archivo original" readonly>
{{ contenido_archivo }}
                    </textarea>
                {% endif %}

                {% if contenido_resumen %}
                    <textarea id="resumenContent" placeholder="Aquí se mostrará el contenido del archivo resumen" readonly>
{{ contenido_resumen }}
                    </textarea>
                {% endif %}
            </div>
        {% endif %}
    </div>
</body>
</html>