<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peticiones</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    
    <h1>Peticiones</h1>
    <p>Aquí puedes realizar y ver las peticiones realizadas.</p>

    <!-- Botones de acciones -->
    <div id="button-pet">
        <form action="{% url 'ver_datos' %}" method="get">
            <button type="submit" class="action-button">Ver Datos</button>
        </form>
        <form action="{% url 'filtrar_fecha' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="action-button">Filtrar por Fecha</button>
        </form>
        <form action="{% url 'filtrar_rango' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="action-button">Filtrar por Rango</button>
        </form>
        <form action="{% url 'ver_mensajes' %}" method="get">
            <button type="submit" class="action-button">Ver Mensajes</button>
        </form>
    </div>
</body>
</html>
