<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ver mensajes</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    
    <h1>Peticiones</h1>
    <p>Aquí puedes realizar y ver las peticiones realizadas.</p>

    <form method="POST">
        {% csrf_token %}
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" name="fecha" required>

        <label for="empresa">Empresa (opcional):</label>
        <input type="text" id="empresa" name="empresa" placeholder="Nombre de la empresa (opcional)">

        <button type="submit">Consultar Resumen</button>
    </form>

    <div>
        <h3>Resultado:</h3>
        <textarea id="resultadoResumen" rows="10" cols="50" readonly>
            {% if mensaje %}
            {{ mensaje }}
            {% endif %}

            {% if contenido_resumen %}
            {{ contenido_resumen }}
            {% endif %}
        </textarea>
    </div>
</body>
</html>