<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar Datos</title>
    {% load static %}  <!-- Cargar archivos estáticos -->
    <link rel="stylesheet" href="{% static 'style.css' %}">  <!-- Enlazar CSS -->
</head>
<body>
    {% include 'navbar.html' %}
   

    <!-- Área de texto -->
    <div class="container mt-4">
        <h2>Datos Generados</h2>
        <textarea id="dataArea" class="form-control" rows="10" placeholder="Aquí se mostrarán los datos generados..." readonly></textarea>
    </div>
</body>
</html>
